@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

.product {
  width: 250px;
  /* position: relative; */
  place-self: center;
}

.img-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 250px;
  border: 1px solid #afafaf;
  border-bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discount {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.img-wrapper img {
  max-width: 90%;
  max-height: 90%;
}

.info {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 40px 10px 20px 10px;
  text-align: center;
  
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  backface-visibility: hidden;
  transition-property: color,height;
  transition-duration: 0.3s,0.4s;
  transition-timing-function: ease-out;
  height: 90px;
}

.info:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  transform: scaleY(0);
  transform-origin: 50%;
  transition: transform 0.3s ease-out;
}

.info:after {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  transition-duration: 0.3s;
  transition-property: transform;
  left: calc(50% - 11px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: black transparent transparent transparent;
}

.product:hover .info {
  height: 40px;
}

.product:hover .info:before {
  transform: scaleY(0.7);
}

.product:hover .info:after {
  visibility: visible;
  transform: translateY(10px);
}

.title {
  transition: transform 0.2s ease-out;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.product:hover .title {
  transform: translateY(-18px);
  font-weight: 500;
  color: #000;
}

.product-price {
  background: #e32d2c;
  position: absolute;
  font-size: 14px;
  padding: 4px 13px;
  top: -15px;
  right: 10px;
}

.product-price.sale {
  background: #20BE55;
  font-size: 18px;
  font-weight: 500;
}

.product-price.old {
  padding: 4px 6px;
  text-decoration: line-through;
  top: -43px;
}

.actions-wrapper {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.actions-wrapper * {
  /* width: 50%; */
  padding: 2px 0;
  text-align: center;
  color: #191919;
  font-size: 15px;
  font-weight: bold;
}

.actions-wrapper *:before {
  font-family: "FontAwesome";
  margin-right: 8px;
}

.cart:hover {
  color: #0a75b9;
}

.cart:before {
  content: \f07a;
}

.product:hover .actions-wrapper * {
  visibility: visible;
}

