@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

.table-image, thead, th {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgb(105, 97, 97);
  font-size: 15px;
  font-weight: bold;
}

.table-image, tbody, td {
  font-weight: 500;
  font-size: 14px;
}

.table-image td, th {
  vertical-align: middle;
  text-align: center;
}

.table-image td, .qty {
  max-width: 25px;
}

.price-total {
  margin-left: 16px;
}

.modal-footer {
  padding-top: 0px;
}

td .btn-sm-close {
  width: 48px;
  height: 40px;
}

/* Style for cart item */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  font-size: 14px;
  font-weight: 500;
  width: 80%;
  text-align: center;
}

.form-control {
  display: inline;
}

.img-fluid.img-thumbnail {
  width: 70%;
  height: 70%;
}